body{

    font-family: Arial, Helvetica, sans-serif;
margin: 20px;
}



.main-heading{
    color:blueviolet;
    margin: 0rem;
    border-radius: 2rem;
    text-align: center

}

#paragraph-2{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}